@keyframes bottomFadeIn {
	0% {
		transform: translateY(2rem);
		bottom: 2rem;
		opacity: 0;
	}

	75% {
		bottom: 25%;
		opacity: 1;
	}

	100% {
		opacity: 100;
	}
}

.post-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	list-style: outside;
	padding-left: 1.6rem;
}

.post-list-item {
	padding-left: 1.2rem;
}
