@keyframes bottomFadeIn {
	0% {
		transform: translateY(2rem);
		bottom: 2rem;
		opacity: 0;
	}

	75% {
		bottom: 25%;
		opacity: 1;
	}

	100% {
		opacity: 100;
	}
}

article.post-wrapper > ul,
article.post-wrapper > ol {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	list-style: outside;
	padding-left: 1.6rem;
}

article.post-wrapper > ul > li {
	padding-left: 1.2rem;
}

article.post-wrapper > ol {
	list-style: decimal;
}

article.post-wrapper > ol > li {
	padding-left: 1.2rem;
}

article.post-wrapper > table > thead > tr > th {
	font-weight: 600;
}

article.post-wrapper > table > tbody > tr > td:first-child {
	font-weight: 600;
}

code[class*='language-'],
pre[class*='language-'] {
	font-size: 1.4rem;
}

/* Article Post Image */
.post-image {
	border-radius: 0.5rem;
	box-shadow: 6px 6px 8px 3px rgba(0, 0, 0, 0.3);
	object-fit: cover;
	opacity: 0;
}

.fade-in-image {
	border-radius: 0.5rem;
	opacity: 1;
	animation: fadeIn 2s ease-in-out;
	object-fit: cover;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
